<h2>Today's article</h2>
<div class="w-100 d-flex">
  <div class="col">
    <div *ngFor="let article of articles; index as i" class="border p-2 ">
      <a href="{{article.url}}" target="_blank">{{article.title}}</a><br>
      <span><i class="far fa-thumbs-up" (click)="isLike(i)"></i> {{ article.like }}</span>
    </div>
    
  </div>
  <div class="col">

    <textarea [(ngModel)]="article.title" id="article-title" class="w-100 rounded pl-2" placeholder="Title ...."></textarea>
    <textarea [(ngModel)]="article.url" id="article-url" class="w-100 rounded mt-3 pl-2" placeholder="Url ...."></textarea>
    <button (click)="addArticle()" class="btn btn-success mt-3">Add</button>
  </div>
</div>
<p class="text-center mt-5">@DucNhat, 2020</p>